@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
* {
   margin: 0;
   padding: 0;
}

html {
   scroll-behavior: smooth;
}

body {
   font-family: 'Noto Sans', sans-serif;
   overflow-x: hidden;
   overflow-y: auto;
}

.offset:before {
   content: "";
   height: 3.875rem;
   display: block;
   margin-top: -3.875rem;
}

/* Begin Navigation Bar Styling */
.navbar-dark .navbar-nav .nav-link {
   color: #e5a607;
   padding-right: 4rem;
   padding-top: .8rem;
   padding-left: 2rem;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
   color: #ffffff!important;
}

.navbar-dark .navbar-brand {
   font-size: 2.4rem;
}

.navbar-dark .navbar-brand:hover {
   color: #e5a607;
}

.bg-dark {
   background-color: #000000!important;
}
/* End Navigation Bar Styling */

/* Styling for Main content of html */
.main {
   position: relative;
   background-image: url("../images/pexels-welcome-arc.jpg");
   box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .5);
   min-height: 90vh;
   background-size: cover;
   background-position: center;
   padding: 220px 0 200px;
}

.main h2 {
   margin: 0;
   padding: 0;
   font-size: 5em;
   color: #e5a607;
   text-transform: uppercase;
   font-weight: bold;
}

.main p {
   margin-top: 1em;
   padding: 0;
   font-size: 2em;
   color: #e5a607;
}

.main .btn {
   background: #e5a607;
   color: black;
   border-radius: 0;
   padding: .5rem 1.2rem;
   margin-top: 5rem;
}

.mid-center {
   background-color: black;
   color: #e5a607;
}

.btn-secondary {
   color: #000;
   background-color: yellow;
   border-color: #fff;
}

.heading {
   text-transform: uppercase;
   font-weight: 700;
   padding-bottom: 1rem;
}
/* End main container styling */

/* Hover effects for images used in the gallery section */
.gallery-item img:hover {
   transform: scale(1.1);
}

.gallery-item img {
   transition: transform .4s ease;
}
/* End hover effect code for images */

/* Begin Footer styling and sizing */
.footer {
   background-color: #cc7a00;
}

.footer img {
   height: 4rem;
}

.footer a {
   color: black;
   text-decoration: none;
}

ul.social {
   list-style-type: none;
   display: flex;
   padding: 0;
   margin: 0 auto;
   max-width: 11.9rem;
}

ul.social.li {
   margin: 0 auto;
   display: inline;
}

.fab {
   font-size: 2rem;
   padding-right: 1.2rem;
}

hr.socket {
   border-top: .2rem solid #b36b00;
}
/* End footer customisation and styling */

/* Begin Form Section CSS Styling */
.form-section {
   clear: left;
   background-image: url("../images/pexels-engineering.jpg");
   background-size: cover;
   background-position: center;
   height: 100vh;
}

.signup-form {
   margin-top: 150px;
   color: #000000;
   background-color: rgba(254, 191, 32, .9);
   max-width: 400px;
   position: absolute;
   padding: 30px;
   margin-left: 100px;
}

.signup-form h2 {
   color: #000000;
   margin-bottom: 20px;
}

.text-input {
   background: transparent;
   color: #000000;
   width: 100%;
   height: 25px;
   margin: 5px 0 20px;
   border: 1px solid #000000;
   border-radius: 2px;
}

.text-input:hover {
   border-color: #ffffff;
}

.join-button {
   margin-top: 20px;
   border-radius: 2px;
   padding: 15px 32px;
   text-align: center;
   font-size: 100%;
   background-color: #000000;
   color: #e5a607;
   display: block;
}

.join-button:hover {
   background-color: #fafafa;
   color: #f16c6b;
}
/* End Form Signup Customisation */

/* Media Queries for Specific Devices */
@media screen and (max-width: 823px) {
   .signup-form {
      margin-left: inherit;
      max-width: fit-content;
   }
}

@media screen and (max-width: 800px) {
   .signup-form {
      margin-left: inherit;
   }
}